.dropdown-menu {
  box-shadow: none;
  border: 1px solid #E6E6E6;
}

.dropdown-menu a {
  color: #CCCCCC !important;
  font-weight: bold;
  float : left;
  right :0;
  margin-right : 7px;
}

.dropdown-menu a:hover {
  background: none !important;
  color: #B3B3B3 !important;

}

.dropdown-icon {
  font-size: 20px;
  color: #B3B3B3;

}

