#titleheader {
	float : left;
	padding-left: 2px;
	color: #fff;
	font-size: 5px;
	letter-spacing: 5px;
	width : 50%;
	display : flex;
	flex-direction : column;
	flex-wrap : wrap;
}

.right {
	float : right;
	padding-left: 700px;

}
